<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/conjuntos.css') }}">
	<meta charset="UTF-8">
	<title>Conjuntos </title>
</head>

<body>
	  <div id="cards-container">
    <div class="card">
      Contagem 1
      <button id="nova_contagem" type="button">+</button>
    </div>
  </div>

  <script>
    let contagemAtual = 1;

    const nova_contagem = document.getElementById("nova_contagem");
    const container = document.getElementById("cards-container");

    nova_contagem.addEventListener("click", () => 
	{
      contagemAtual++;
      const novoCard = document.createElement("div");
      novoCard.classList.add("card");
      novoCard.textContent = `Contagem ${contagemAtual}`;

      container.appendChild(novoCard);
    });
  </script>

</body>
</html>
