<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Conjuntos Dinâmicos</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>
<body>

  <h2>Escolha o nome do conjunto:</h2>
  
<!-- Botão para abrir o modal -->
<button class='card' id="abrirModal">Criar novo conjunto</button>

<!-- Modal oculto por padrão -->
<div id="modal" class="modal" style="display: none;">
  <div class="modal-conteudo">
    <span class="fechar" id="fecharModal">&times;</span>
    <h3>Digite o nome do novo conjunto:</h3>
    <form id="nome_contagem">
      <input type="text" id="titulo" name="titulo" required>
      <input type="submit" value="Criar">
    </form>
  </div>
</div>


<div id="cards-container">
  {% for conjunto in conjuntos %}
    <div class="card" onclick="window.location.href='/conjuntos/{{ conjunto.titulo | urlencode }}'">
      {{ conjunto.titulo }}
    </div>
  {% endfor %}
</div>

  <script>
    const modal = document.getElementById("modal");
  const abrirModalBtn = document.getElementById("abrirModal");
  const fecharModalBtn = document.getElementById("fecharModal");
  
  abrirModalBtn.addEventListener("click", () => {
    modal.style.display = "flex";
    input.focus();
  });

  fecharModalBtn.addEventListener("click", () => {
    modal.style.display = "none";
    input.value = "";
  });

  // Fecha o modal se clicar fora do conteúdo
  window.addEventListener("click", (e) => {
    if (e.target === modal) {
      modal.style.display = "none";
      input.value = "";
    }
  });
  
    //document faz referencia ao html da pagina
    const form = document.getElementById("nome_contagem");
    const input = document.getElementById("titulo");
    const container = document.getElementById("cards-container");

    form.addEventListener("submit", async (event) => 
    {
      event.preventDefault();
      const nome = input.value.trim();
      if (nome === "")
      { 
        return;
      }
      
      const resposta = await fetch("/registra_conjunto", //await pra esperar a resposta da requisicao
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ titulo: nome }) //transforma os dados do js em dados json
      });

      const resultado = await resposta.json();
      if (resultado.status === "ok") 
      {
        const novoCard = document.createElement("div");
        novoCard.classList.add("card");
        novoCard.textContent = nome;
        novoCard.addEventListener("click", () => 
        {
        console.log("Card clicado:", nome);
        window.location.href = `/conjuntos/${encodeURIComponent(nome)}`; //redirect pra outra url que recebe o nome do card como parametro
        });
        container.appendChild(novoCard);
        input.value = "";
        alert(resultado.mensagem);
      } 
      else 
      {
        alert(resultado.mensagem);
      }
    });
  </script>
</body>
</html>
